<%= turbo_stream_from comment %>
<%= turbo_stream_from "reactions_#{nested_dom_id(comment)}" %>

<div class="comment card mb-3" id="comment_<%= dom_id(comment) %>">
  <div class="card-body">
    <p class="card-text"><strong>Commenter:</strong> <%= comment.commenter %></p>
    <p class="card-text"><strong>Comment:</strong> <%= comment.body %></p>
  </div>

  <%= turbo_frame_tag "reactions_#{nested_dom_id(comment)}" do %>
    <%= render partial: 'reactions/reaction', locals: { likeable: comment } %>
  <% end %>

  <%= form_with model: [comment.article, comment, Reaction.new], local: false, data: { turbo: true }, class: "d-inline" do |form| %>
    <%= form.hidden_field :reaction_type, value: "like" %>
    <%= form.submit "Like", class: "btn btn-primary" %>
  <% end %>

  <%= form_with model: [comment.article, comment, Reaction.new], local: false, data: { turbo: true }, class: "d-inline" do |form| %>
    <%= form.hidden_field :reaction_type, value: "dislike" %>
    <%= form.submit "Dislike", class: "btn btn-danger" %>
  <% end %>
</div>