<div class="form-container">
  <%= form_with(model: [@article, @comment],id: "new_comment",  local: true, class: "needs-validation") do |form| %>
    <% if @comment.errors.any? %>
      <div id="error_explanation" class="alert alert-danger">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :commenter, value: current_user.name %>

    <div class="form-group">
      <%= form.label :body, "Comment", class: "form-label" %>
      <%= form.text_area :body, class: "form-control", rows: 5 %>
    </div>

    <div class="form-actions text-center mt-3">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
