<%= turbo_stream_from "comments" %>
<%= turbo_stream_from "reactions_#{nested_dom_id(@article)}" %>

<main class="container mt-5">
  <%= link_to sanitize("&larr; Back to articles"), articles_path, class: "btn btn-secondary mb-3" %>
  
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1><%= @article.title %></h1>

      <div class="article-body">
        <%= @article.body %>
      </div>

      <hr>

      <%= turbo_frame_tag "reactions_#{nested_dom_id(@article)}" do %>
        <%= render partial: 'reactions/reaction', locals: { likeable: @article } %>
      <% end %>

      <%= form_with model: [@article, Reaction.new], local: false, data: { turbo: true }, class: "d-inline" do |form| %>
        <%= form.hidden_field :reaction_type, value: "like" %>
        <%= form.submit "Like", class: "btn btn-primary" %>
      <% end %>

      <%= form_with model: [@article, Reaction.new], local: false, data: { turbo: true }, class: "d-inline" do |form| %>
        <%= form.hidden_field :reaction_type, value: "dislike" %>
        <%= form.submit "Dislike", class: "btn btn-danger" %>
      <% end %>

      <h2>Comments</h2>
      <%= render "comments/form", article: @article, comment: @comment %>
      <div id="comments">
        <%= render @article.comments.ordered %>
      </div>
    </div>
  </div>
</main>