<!-- app/views/articles/show.html.erb -->
<%= link_to 'Back', articles_path %>
<%= turbo_stream_from "comments" %>

<h1><%= @article.title %></h1>

<div class="article-body">
  <%= @article.body %>
</div>

<hr>

<h2>Comments</h2>

<%= render "comments/form", article: @article, comment: @comment %>

<div id="comments">
  <%= render @article.comments %>
</div>


