<%= turbo_stream_from "comments" %>
<main class="container">
  <%= link_to sanitize("&larr; Back to articles"), articles_path %>
  <h1><%= @article.title %></h1>

  <div class="article-body">
    <%= @article.body %>
  </div>

  <hr>

  <h2>Comments</h2>

  <%= render "comments/form", article: @article, comment: @comment %>

  <div id="comments">
    <%= render @article.comments.ordered %>
  </div>
</main>
